body {
  padding: 5%;
  font-family: 'Arimo', sans-serif;
  font-weight: lighter;
  background-image: url(../img/painting.jpg);
  -webkit-background-size: cover;
  background-repeat: no-repeat;
}

.sidebar {
  background-image: url(../img/chalkboard.jpg);
  background-position: center;
  background-size: cover;
  color: ivory;
  text-align: center;
  font-family: 'Stardos Stencil', cursive;
}

.sidebar h3 {
  color: ivory;
  font-family: 'Zeyada', cursive;
}

h2 {
  color: black;
  font-family: 'Zeyada', cursive;
}

.form-list {
  border-width:4px;
  border-style:double;

  border-color: black;
  background-color: ivory;
  margin: 10%;
  padding: 10%;
}

.form-check {
  text-align: center;
  display: inline;
}

#start-over {
  display: none;
}
