body {
  padding: 5%;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  background-image: url(../img/painting.jpg);
  -webkit-background-size: cover;
  background-repeat: no-repeat;
}

.header {
  background-image: url(../img/chalkboard.jpg);
  background-position: center;
  background-size: cover;
  color: ivory;
  text-align: center;
  font-family: 'Stardos Stencil', cursive;
}

.header h3 {
  color: ivory;
  font-family: 'Zeyada', cursive;
}

.header p {
  font-family: 'Lato', sans-serif;
}

h2 {
  color: black;
  font-family: 'Zeyada', cursive;
}

.main-menu {
  border: 2px solid olive;
  background-color: ivory;
  margin: 5%;
  padding: 5%;
  padding-bottom: 10%;
}

.form-check {
  text-align: center;
  display: inline;
  padding-right: 15px;
}

#start-over {
  display: none;
  float: right;
}

#place-order {
  float: right;
}
